.container {
    max-width: 1200px;
    margin: 100px auto;
    font-size: 16px;
    line-height: 22px;
}
.listProduct {
    width: 100%;
    margin-top: 50px;
}

td {
    padding: 5px 10px;
    border: 1px solid black;
}

th {
    padding: 5px 10px 10px;
}



